<div class="ui header">
    <i class="comment icon"></i>
    <div class="content">
        Notifications
    </div>
</div>
<hr>

<div class="scroll-y">
    <div class="ui message segment" *ngFor="let message of messages">
        <div class="ui header">
            {{ message.title }}
            
        </div>
        <div class="content">
            <p>
                {{ message.content }}
            </p>
            <ul *ngIf="message.additionalInfo">
                <li *ngFor="let item of message.additionalInfo">
                    {{ item }}
                </li>
            </ul>
            <hr>
            <div class="ui mini bottom left attached black label" *ngIf="message.id">
                {{ message.id }}
            </div>
            <div class="ui mini bottom right attached red label">
                {{ message.timestamp | date: 'shortTime'}}
            </div>
        </div>
    </div>
</div>