<div class="ui basic form segment" [formGroup]="consumptionForm">
    <div class="ui header">
        Consumption Template
    </div>
    <div class="two fields">
        <div class="field">
            <label for="product_id">Product</label>
            <select name="product_id" class="ui fluid dropdown" formControlName="product_id">
                <option value="0">Select A Product</option>
                <option *ngFor="let product of products" [value]="product.id">
                    {{ product.title }}
                </option>
            </select>
        </div>
        <div class="field">
            <label for="material_id">Material</label>
            <select name="material_id" class="ui fluid dropdown" formControlName="material_id">
                <option value="">Select Raw Material</option>
                <option *ngFor="let material of rawMaterials" [value]="material.id">
                    {{ material.title }}
                </option>
            </select>
        </div>
    </div>
    <div class="field">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" formControlName="quantity">
    </div>
    <button 
        class="ui fluid blue button" 
        [disabled]="consumptionForm.touched && !consumptionForm.valid" 
        (click)="onAdd()">
        Add
    </button>
    <hr>
    <table class="ui small compact table segment">
        <thead>
            <th class="center aligned">Material</th>
            <th class="center aligned">Quantity</th>
            <th class="center aligned">Remove</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of consumptionTemplate;let i of index">
                <td>{{ materialName(item.material_id) }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    <button 
                    class="ui fluid mini icon button" 
                    (click)="onRemove(i -1)">
                        <i class="trash icon"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <button class="ui green button" (click)="onSubmit()">Submit</button>
    <button class="ui red button" (click)="onReset()"> 
        Reset
    </button>
</div>