
        <div class="ui paged form segment">
            <h3 class="ui header">
                <i class="user icon"></i>
                <div class="content">
                    Search/Create Customer
                </div>
            </h3>
            <div class="field">
                <label for="customerName">Customer Name</label>
                <div class="ui fluid search">
                    <div class="ui fluid icon input">
                        <input type="text" class="prompt" placeholder="Customer Name" pattern="[A-Za-z ]+"
                            [(ngModel)]="customer.title" (keypress)="onSearch($event)">
                        <i class="user icon"></i>
                    </div>
                    <div class="results" [ngClass]="showResults ? 'visible' : 'hidden'">
                        <a class="result" *ngFor="let c of listOfCustomers" (click)="selectCustomer(c)">
                            <div class="content">
                                <div class="title">
                                    {{ c.title }}
                                </div>
                                <div class="description">
                                    {{ c.address }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="address">Address</label>
                <div class="ui circular icon fluid input">
                    <input type="text" name="address" [(ngModel)]="customer.address" placeholder="Address">
                    <i class="map icon"></i>
                </div>
            </div>
            <button class="ui circular fluid green button" (click)="onSubmit()">Set User</button>
        </div>