<table class="ui celled table segment">
    <thead>
        <tr>
            <th class="center aligned eight wide">Description</th>
            <th class="center aligned two wide">Rate</th>
            <th class="center aligned two wide">Quantity</th>
            <th class="center aligned two wide">Discount</th>
            <th class="center aligned two wide">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="right aligned" colspan="4">Total Amount</td>
            <td>0.00</td>
        </tr>
        <tr>
            <td class="right aligned" colspan="4">Amount Paid By Customer</td>
            <td></td>
        </tr>
    </tfoot>
</table>