<div class="card" style="top: 20%;">
    <h2 class="card-header text-center mb-0">
        Create New Account
    </h2>
    <main class="card-body">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <section>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="displayName" type="text" name="displayName" />
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="username" name="username" />
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" name="password" />
                </mat-form-field>
            </section>
            <section>
                <button type="submit" class="btn" mat-raised-button color="primary">Submit</button>
                <button type="reset" class="btn ml-3" mat-raised-button color="warn">Reset</button>
            </section>
        </form>
    </main>
</div>