<nav role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">
        Maharaja Computers
    </div>
    <button type="button" class="navbar-toggler" role="button" (click)="navBarCollapsed = !navBarCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngClass]="navBarCollapsed ? 'collapse': ''">
        <div class="navbar-nav mr-auto text-light text-center">
            <div class="nav-item">
                <a routerLink="home" class="nav-link">Home</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" (click)="openCalculator()">Calculator</a>
            </div>
        </div>
        <div class="navbar-nav ml-auto" [hidden]="!isAuthenticated">
            <div class="nav-item">
                <a class="nav-link" (click)="signOut()">Logout</a>
            </div>
        </div>
    </div>
</nav>