<div class="ui basic form segment" [formGroup]="myForm">
    <div class="ui header">
        <i class="file alternate outline icon"></i>Ledger Form
    </div>
    <div class="field">
        <label for="id">#</label>
        <input 
        type="number" 
        formControlName="id" 
        (change)="fetchLedger()"
        min="0">
    </div>
    <div class="required field">
        <label for="title">Title</label>
        <input type="text" formControlName="title">
    </div>
    <div class="required field">
        <label for="group_id">Group</label>
        <select formControlName="group_id" id="">
            <option value="0">Group Name</option>
            <option *ngFor="let group of groups" [value]="group.id">{{ group.title }}</option>
        </select>
    </div>

    <button 
    class="ui green button" 
    (click)="onSubmit()"
    [disabled]="myForm.touched && !myForm.valid">
        Submit
    </button>
    <button class="ui red button" (click)="onReset()">
        Reset
    </button>
</div>