<app-nav-bar
  (calculatorPanel)="onToggle($event)"
  (voucherPanel)="onSidebarToggle($event)">
</app-nav-bar>
<div class="ui sidebar" [ngClass]="sidebarVisible ? 'visible' : 'hidden'">
  <app-voucher-form (hideEvent)="onSidebarToggle($event)"></app-voucher-form>
</div>
<div class="pusher">
  <div class="ui three divided column stackable grid">
    <div class="row">
      <div class="three wide column" [hidden]="!panelVisible">
        <app-calculator></app-calculator>
      </div>
      <div [ngClass]="getWidth()">
        <router-outlet></router-outlet>
      </div>
      <div class="three wide column">
        <app-notification></app-notification>
      </div>
    </div>
  </div>
</div>
