<div class="ui form segment" [formGroup]="tpForm">
    <div class="field">
        <label for="template_id">Select Template</label>
        <select formControlName="template_id" class="ui dropdown" (change)="onSelect()">
            <option *ngFor="let t of templates" [value]="t.id">{{ t.title }}</option>
        </select>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="product_id">Product</label>
            <select name="product_id" formControlName="product_id">
                <option *ngFor="let p of products" [value]="p.id">{{ p.title }}</option>
            </select>
        </div>
        <div class="field">
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" formControlName="quantity">
        </div>
    </div>
    <button class="ui blue button" (click)="onAdd()">Add Row</button>
    <hr>
    <table class="ui compact table component">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of finalArray">
                <td>{{ r.product_id }}</td>
                <td>{{ r.quantity }}</td>
            </tr>
        </tbody>
    </table>
    <button class="ui green button" (click)="onSubmit()">Submit</button>
</div>