<div class="card" style="top: 20%">
    <h2 class="card-header">
        Sign In
    </h2>
    <main class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <section class="d-block">
                <mat-form-field appearance="fill" class="w-100 d-block">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" type="text" name="username" required />
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-100 d-block mt-3">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" name="password" required />
                </mat-form-field>
            </section>

            <section class="d-block mt-3">
                <button class="btn mr-3" type="submit" mat-raised-button color="primary"> 
                    Login
                </button>
                <button class="btn" type="reset" mat-raised-button color="warn">
                    Reset
                </button>
            </section>
        </form>
        <hr>
        <section class="text-center">
            <a routerLink="../sign-up">Create New Account</a>
        </section>
    </main>
</div>