/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

mb-1 {
  margin-bottom: 0.25rem !important;
}

body {
  padding-top: 60px !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.scroll-y{
  overflow-y: scroll;
  max-height: 600px;
  display: block;
}

[hidden] {
  display: none !important;
}

.fixed-top{
  position: fixed;
  top: 0;
}

.menu.fixed-top{
  max-height: 45px !important;
  z-index: 999;
}

.center.aligned{
  text-align: center !important;
}

.mb-1 {
  margin-bottom: 0.25em !important;
}
